* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#add-pics {
    background-color: darkblue;
    -webkit-tap-highlight-color: transparent;
    background-image: none;
    /**
        Don't use user-select: none; unless it's imperative
    **/
}

#add-pics:hover {
    background-color: rgb(30, 30, 211);
}

#add-pics::moz-focus-inner {
    border: 0;
}

#add-pics:focus {
    outline: 0;
    background-color: rgb(104, 104, 233);
}

#add-pics:active {
    background-color: darkblue;
}

.no-flexbox #main-container {
    overflow: auto;
    width: 100%;
    min-height: 400px;
}

.flexbox #main-container {
    /**
    display: grid;
    grid-template-columns: 40px 30px 40px;
    margin: 1.5rem 0;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    **/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 400px;
}

.flexbox #main-container #section-show-container {
    width: 40%;
}

img {
    max-width: 80%;
}

.slide-show-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.slide-show-main > section{
    width: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.slide-show-main #previous-button{
    justify-content: flex-end;
}

picture#first-image {
    transition: width 0.5s;
    max-width: 50vw;
}

@media screen and (min-width: 48rem) {
    img {
        width: 100%;
    }

    #how-to-use {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 80%;
        flex-wrap: wrap;
    }

    #how-to-use h1 {
        width: 100%;
    }

    #how-to-use video {
        width: 60%;
        height: auto;
    }

    .slide-show-main {
        width: 80%;
    }

    #how-to-use .cus-video-controls {
        width: 100%;
    }
}
/**
75rem = 1200px
**/
@media screen and (min-width: 75rem){
    
    .slide-show-main {
        width: 60%;
    }
}